@import "tailwindcss";
@tailwind utilities;

:root {
  /* From Figma - FAQ Color Palette */
  --bg-primary: #0f0f0f;
  --bg-secondary: #1a1a1a;
  --bg-hover: #2a2a2a;
  --accent-green: #4ade80;
  --accent-green-hover: #22c55e;
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --text-muted: #737373;

  /* Filter Bar Button colors */
  /* the default filter button looks like this */
  --btn-border-default: #bdff00;
  --btn-fill-default: #ecffb7;
  --btn-text-default: #ffffff;

  /* when the button is selected */
  --btn-bg-active: #ffffff;
  --btn-text-active: #000000;

}

@layer base {
  body {
    @apply bg-[#1A1A1A];
  }
}



